# ignore folder .terraform
.terraform/

# Ignore les fichiers de configuration Terraform
*.tfstate
*.tfstate.*

# Ignore les fichiers de crash logs
crash.log

# Ignore les fichiers de plan Terraform
*.tfplan

# Ignore les fichiers de variables sensibles
*.tfvars

# Ignore les répertoires de verrouillage et de cache
.terraform/
.terraform.lock.hcl